*.recipe
/.vs
/1.FixedPipeLine/*.vcxproj
/1.FixedPipeLine/*.filters
*.user
/1.FixedPipeLine/Debug/*.log
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.log
*.obj
*.txt
*.vcxproj
*.filters
*.sln
*.exe
*.ilk
*.iobj
*.ipdb
